#focus-container {
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: 'Georgia', serif;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  align-items: flex-start;
  overflow: visible;
}

#focus-text-content *:focus {
  outline: none;
}

#focus-text-content *:hover {
  outline: none;
}

#focus-text-content {
  background: transparent;
  padding-left: 20px;
  padding-top: 300px;
  margin-right: 30px;
  flex: 1;
}

.label {
  font-weight: bold;
  color: #FFD700;
}

#focus-container h2,
#focus-container h3 {
  margin: 0;
  padding: 10px;
  font-size: 2rem;
}

#focus-container p {
  margin: 5px;
  font-size: 1.2rem;
}

#focus-text-content h2,
#focus-text-content h3,
#focus-text-content p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#focus-text-content,
#focus-container img {
  border: none;
  margin: 0;
  background-color: transparent;
  box-sizing: border-box;
}

#focus-container img {
  flex: 1;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 35px;
  border: 3px solid rgb(11, 166, 52);
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
  transform-origin: right;
}

#focus-container img:hover {
  transform: scale(1.2);
  border: none;
  box-shadow: 0px 0px 15px 5px rgb(229, 217, 217);
  margin-right: 40px;
}

#focus-container img:active {
  transform: scale(0.9);
  box-shadow: none;
  position: relative;
}

.video-container {
  position: absolute;
  top: 40%;
  left: -390px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  transform: translateY(-50%);
}

#focus-text-content,
#focus-container {
  border: none !important;
  outline: none !important;
}

.back-button {
  margin-top: 20px;
  width: 80px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.back-button:before,
.back-button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
}

.back-button:before {
  transform: translate(-50%, -50%) rotate(135deg);
  width: 20px;
  height: 20px;
}

.back-button:after {
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 14px;
  height: 2px;
}

.back-button:hover:before,
.back-button:hover:after {
  border-color: rgb(11, 239, 42);
}

.play-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent white;
  margin-right: 10px;
  position: relative;
  top: -1px;
  transition: border-color 0.3s ease;
}

.active .play-icon {
  border-color: transparent transparent transparent white;;
}

.green {
  border-color: transparent transparent transparent white;
}

.trailer-button {
  margin-top: 20px;
  /* margin-left: 70%; */
  margin-left: 35%;
  padding: 15px 30px;
  background-color: rgb(133, 5, 5);
  color: #FFD700;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.trailer-button:hover {
  background-color: #620404;
  color: #fff;
}

/* For tablet and mobile screens */ 
@media screen and (max-width: 768px) {

  .trailer-button {
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 50%;
  }
  
  .video-container .trailer-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  #focus-container {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  #focus-text-content {
    padding-top: 5%;
    margin-right: 0;
    text-align: center;
  }

  #focus-container h2,
  #focus-container h3,
  #focus-container p {
    font-size: 1rem;
  }

  #focus-container img {
    width: 20%;
    margin-top: 5px;
    margin-bottom: 4px;
  }

  .back-button {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: auto;
    align-self: flex-start;
    z-index: 1000;
  }
} 

/* Common styles for all media queries */
@media screen and (max-width: 1440px) {

  #focus-container,
  #focus-text-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 0;
  }

  #focus-container h2,
  #focus-container h3,
  #focus-container p {
    font-size: 1rem;
  }

  #focus-container img {
    margin-left: auto;
  }

  .back-button {
    margin-top: 20px;
    cursor: pointer;
    position: relative;
  }

  .back-button:before,
  .back-button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border: solid rgb(245, 7, 7);
    border-width: 0 2px 2px 0;
    display: inline-block;
  }

  .back-button:hover:before,
  .back-button:hover:after {
    border-color: rgb(11, 239, 42);
  }
}

/* Custom styles for specific screen sizes */
@media (max-width: 1440px) {
  #focus-text-content {
    padding-top: 50px;
  }

  #focus-container img {
    width: 40%;
    margin-top: 4px;
    margin-bottom: 35px;
  }

  .back-button {
    width: 80px;
    height: 40px;
  }
}

@media (max-width: 1424px) {
  #focus-text-content {
    padding-top: 50px;
  }

  #focus-container img {
    width: 40%;
    margin-top: 4px;
    margin-bottom: 31px;
  }
}

@media (max-width: 426px) {
  #focus-text-content {
    padding-top: 25px;
  }

  #focus-container img {
    width: 45%;
    margin-top: 3px;
    margin-bottom: 1px;
  }
}

@media (max-width: 375px) {
  #focus-text-content {
    padding-top: 20px;
  }

  #focus-container img {
    width: 30%;
    margin-top: 2px;
    margin-bottom: 1px;
  }
}

@media (max-width: 320px) {
  #focus-text-content {
    padding-top: 15px;
  }
  .trailer-button {
    font-size: 0.8rem;
    padding: 8px 16px;
    margin-left: 30%;
  }
  #focus-container img {
    width: 25%;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}