.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 39px;
  padding: 40px;
  margin: auto;
  max-width: 1200px;
}

.card-container > div {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 1; 
}

.card-container > div:hover {
  transform: scale(1.05) translateY(-10px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  z-index: 2;
}

/* For tablet screens */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }
}

/* For mobile screens */
@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 10px;  
    padding: 10px;
  }
}