html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: 1000;
}

.spinner {
  border: 0.25rem solid rgba(255, 255, 255, 0.3);
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  border-left-color: #E50914;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 1rem;
}

.main-container {
  padding: 1rem;
}


/* Extra small devices (phones) */
@media (max-width: 575px) {
  body {
    font-size: 0.875rem;
  }

  .main-container {
    padding: 0.625rem;
  }
}

/* Small devices (tablets, large phones) */
@media (max-width: 767px) {
  body {
    font-size: 0.9rem;
  }

  .main-container {
    padding: 0.75rem;
  }
}

/* Medium devices (landscape tablets, desktops) */
@media (max-width: 991px) {
  body {
    font-size: 0.95rem;
  }

  .main-container {
    padding: 0.875rem;
  }
}

/* Large devices (large desktops) */
@media (max-width: 1199px) {
  body {
    font-size: 1rem;
  }

  .main-container {
    padding: 1rem;
  }
}