html {
  scroll-behavior: smooth;
}

/* Spinner */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border-left-color: #E50914;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive font size */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  
  .main-container {
    padding: 10px;
  }
}
