div[id] {
  background-color: #222222;
  border: 1px solid #444444;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out; 
  position: relative;
  z-index: 1;
}

 div[id]:hover { 
  outline: 2px solid gray;
  outline-offset: 10px;
}

div[id] img {
  width: 100%;
  object-fit: cover;
}

div[id] h3 {
  margin: 0;
  padding: 10px;
  font-size: 1.2rem;
}

.rating-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.green-rating-logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.green-rating-logo:hover {
  transform: rotate(-15deg) scale(1.1); 
  box-shadow: 0 0 20px #fff;
}

.glowing-border {
  box-shadow: 0px 0px 15px 5px rgb(229, 217, 217);
  transition: box-shadow 0.3s ease-in-out;
}

.no-underline, .no-underline:visited, .no-underline:focus, .no-underline:active {
  text-decoration: none;
  outline: none;
}

/* Responsive card settings */
@media (max-width: 768px) {
  div[id] {
    border-radius: 4px;
    width: 90%;
    margin: 0 auto;
  }
  
  div[id] h3 {
    font-size: 1rem;
  }
  
  .green-rating-logo,
  .red-rating-logo {
    height: 20px;
    width: 20px;
  }

  .rating-container {
    flex-direction: column; 
    align-items: center;
    margin-bottom: 5px; 
  }
}

@media (max-width: 480px) {
  div[id] h3 {
    font-size: 0.9rem; 
  }
  
  .green-rating-logo,
  .red-rating-logo {
    height: 15px; 
    width: 15px;
  }

  .rating-container {
    margin-bottom: 3px; 
  }
}
