  nav {
    background-color: #0c0c0c;
    color: #e50914;
    padding: 0 20px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
  }

  .nav-content {
    display: flex;
    height: 60px;
    align-items: center;
  }

  main {
    background-color: #181818;
    padding-top: 60px;
    color: #ffffff;
  }

  .main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }


  nav h1 {
    margin: 0;
    margin-left: 20px;
    font-size: 2rem;
    font-weight: bold;
  }

  .nav-logo {
    height: 80px;
    width: 80px;
    object-fit: cover;
    box-shadow: 0 0 10px #fff;
    background-color: rgba(2, 0, 0, 0.3);
    border-radius: 50%; 
    margin-right: 90px;  
    margin-bottom: -90px;
    transform: rotate(-15deg);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .nav-logo:hover {
    transform: rotate(-15deg) scale(1.1); 
    box-shadow: 0 0 20px #fff;
  }

  .nav-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
    white-space: nowrap;
  }

  .welcome-note {
    align-items: center;
    margin-left: 100%;
    color: #00FF00;
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'Courier New', cursive;
    white-space: nowrap;
    text-shadow: 0px 0px 5px #000000; 
  }
  
/* For debugging */
  /* .nav-title, .nav-content, nav {
    border: 1px solid red;  
  }
   */

/* For tablet and mobile screens */
@media (max-width: 768px) {
  nav h1 {
    font-size: 1.5rem;
  }

  .nav-logo {
    height: 60px;
    width: 60px;
  }

  .welcome-note {
    font-size: 1rem;
  }
}
